div {
	width: 100px;
	height: 100px;
	background: blue;
	margin-top: 10px;
	border: 1px solid red;
}

.big {
	width: 330px;
	height: 110px;
	padding: 10px;
	background: blue;
}

.small{
	width: 95px;
	height: 95px;
	border: 1px solid red;
	display: inline-block;
	margin: 5px;
}

.side {
	display: inline-block;
	margin-right: 10px;
}